<?xml version="1.0"?>
<!--
/**
 * Abhay
 * 
 * PHP version 7
 * 
 * @category  Abhay
 * @package   Abhay_NotificationBar
 * @author    Abhay Agrawal <abhay@gmail.com>
 * @copyright 2022 Copyright © Abhay
 * @license   See COPYING.txt for license details.
 * @link      https://github.com/abhay1198/notification-bar
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
         <tab id="abhay" translate="label" sortOrder="10">
            <label>Abhay</label>
        </tab>
        <section id="notification_bar" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Notification Bar</label>
            <tab>abhay</tab>
            <resource>Abhay_NotificationBar::config_system</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables or disables module.</comment>
                </field>
                <field id="notification_msg" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Notification Message</label>
                    <comment>This Notification will display on the frontend.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="background_color" translate="label" sortOrder="3" type="text" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Notification Message Background Color</label>
                    <validate>required-entry</validate>
                    <frontend_model>Abhay\NotificationBar\Block\Colorpicker</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="notification_position" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Text Position</label>
                    <source_model>Abhay\NotificationBar\Model\Config\Source\NotificationPosition</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
